baseURL: https://raulquiros.com/
languageCode: es-es
title: Blog de Ra煤l Quir贸s
paginate: 5
theme: PaperMod

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

googleAnalytics: UA-123-45

minify:
    disableXML: true
    minifyOutput: true

params:
    env: production # to enable google analytics, opengraph, twitter-cards and schema.
    title: Blog de Ra煤l Quir贸s
    description: "Blog personal de Ra煤l Quir贸s"
    keywords: [Blog, Portfolio, Raul Quiros]
    author: Raul Quiros
    # author: ["Me", "You"] # multiple authors
    images: ["<link or path of image for opengraph, twitter-cards>"]
    DateFormat: "January 2, 2006"
    defaultTheme: auto # dark, light
    disableThemeToggle: false

    ShowReadingTime: true
    ShowShareButtons: true
    ShowPostNavLinks: true
    ShowBreadCrumbs: true
    disableSpecial1stPost: false
    disableScrollToTop: false
    comments: false
    hidemeta: false
    hideSummary: false
    showtoc: true
    tocopen: true

    assets:
        # disableHLJS: true # to disable highlight.js
        # disableFingerprinting: true
        favicon: "/icon/favicon.ico"
        favicon16x16: "/icon/favicon-16x16.png"
        favicon32x32: "/icon/favicon-32x32.png"
        apple_touch_icon: "/icon/apple-icon-180x180.png"
        safari_pinned_tab: "/icon/favicon-32x32.png"

    label:
        text: "Ra煤l Quir贸s"
        icon: ""
        iconHeight: 35

    # home-info mode
    homeInfoParams:
        Title: "Hola \U0001F44B"
        Content: >
            Bienvenido a mi blog. Aqu铆 vas a encontrar post relacionados con la **programaci贸n** y la **gesti贸n de equipos** (ir茅 subiendo contenido cuando me vea inspirado ).

            * Teach lead en [promofarma.com](https://promofarma.com)

            * Obsesionado con el trabajo en equipo y la continua entrega de valor.

    socialIcons:
        - name: github
          url: "https://github.com/raulquiros"
        - name: twitter
          url: "https://twitter.com/RaulQuiiros"
        - name: linkedin
          url: "https://www.linkedin.com/in/raulquiros/"
        - name: email
          url: "mailto:contact@raulquiros.com"

    analytics:
        google:
            SiteVerificationTag: "G-FBNZ17BKT4"
        bing:
            SiteVerificationTag: "XYZabc"
        yandex:
            SiteVerificationTag: "XYZabc"

    cover:
        hidden: true # hide everywhere but not in structured data
        hiddenInList: true # hide on list pages and home
        hiddenInSingle: true # hide on single page

    editPost:
        URL: "https://github.com/raulquiros/web_raulquiros/content"
        Text: "Suggest Changes" # edit text
        appendFilePath: true # to append file path to Edit link

    # for search
    # https://fusejs.io/api/options.html
    fuseOpts:
        isCaseSensitive: false
        shouldSort: true
        location: 0
        distance: 1000
        threshold: 0.4
        minMatchCharLength: 0
        keys: ["title", "permalink", "summary", "content"]
menu:
    main:
        - name: Archivo
          url: archivo
          weight: 5
        - name: Buscar
          url: buscar/
          weight: 10
        - name: Tags
          url: tags/
          weight: 10

outputs:
    home:
        - HTML
        - RSS
